*{
    font-family: roboto, sans-serif ;
}

.container-principal{
padding: 16px;
max-width: 1200px;
margin: 0 auto;
}

.bloco-controle{
    margin-bottom: 16px;
}

button {  
    background-color: rgb(231, 177, 177);
    align-items: center;
    margin: 5px;
    border-radius: 30px;
    padding: 5px;
    
}

.Logar:hover{
    background-color: rgb(78, 134, 78);
    border-color: rgb(78, 134, 78);
    color: white;
}

.Logout:hover{
    background-color: rgb(192, 45, 45);
    border-color: rgb(192, 45, 45);;
    color: white;
}

.cor-logado{
    color: green;
}

.cor-deslogado{
    color: red;
}