.container-principal{
padding: 16px;
max-width: 1200px;
margin: 0 auto;
}

.bloco-controle{
    margin-bottom: 16px;
}

button {   
    align-items: center;
    margin: 5px;
    gap: 36px;
}

.Logar:hover{
    background-color: green;
    color: white;
}

.Logout:hover{
    background-color: red;
    color: white;
}

.cor-logado{
    color: green;
}

.cor-deslogado{
    color: red;
}