.logo{
    cursor: pointer;
}

mat-toolbar{
    background-color: rgb(231, 177, 177);
    position: sticky;
    top: 0;
    z-index: 1000;
}

button{
    margin-left: 8px;
}

.flex-spacer{
    flex: 1 1 auto;
}